<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2" >
    <h2>Create New Listing</h2>
    <br>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="title" name="listing[title]" required>
            <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Upload Image</label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" placeholder="price" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="location" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
    </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" placeholder="country" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">Country name should be</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">ADD</button>
        <br>
    </form>
        </div>
    </div>
